.stars-container {
  padding: 16px 0;

  ion-icon {
    font-size: 36px;
    margin: 0 4px;
    color: var(--ion-color-medium);
    cursor: pointer;

    &.rated {
      color: var(--ion-color-warning);
    }
  }
}