ion-item[disabled] ion-label {
  opacity: 0.5;
}

ion-item p {
  white-space: normal;
  font-size: 0.9em;
  color: var(--ion-color-medium);
}

.dashboard-icon {
  font-size: 48px;
}

ion-card-header ion-icon {
  font-size: 24px;
  margin-bottom: 8px;
}

.error-message {
  padding: 20px;
  color: var(--ion-color-danger-shade);
}